/*site map*/




/* location */
.location_wrap{
  width: 100%;
  height: 46px;
  background-color: #f2f2f2;
  position: relative;
}

.location_wrap .location_inner{
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.location_wrap .location_inner li{
  display: inline-block;
  font:400 14px/46px 'Montserrat','Noto Sans KR';
  color:#444;
  text-align: left;
  letter-spacing: -1px;
  vertical-align: top;
}

.location_wrap .location_inner li::after{
  content: '';
  width: 5px;
  height: 8px;
  background: url('../../images/common/sprite.png')no-repeat -25px -145px;
  display: inline-block;
  margin: 20px 20px 0;
  vertical-align: top;
}

.location_wrap .location_inner li:last-child::after{
  display: none;
}

.location_wrap .location_inner li a{
  font:400 14px/46px 'Montserrat','Noto Sans KR';
  color:#444;
  text-align: left;
  letter-spacing: -1px;
  vertical-align: top;
}

.location_wrap .location_inner li a span{
  font: 500 13px/46px 'Montserrat';
  vertical-align: top;
}

.title_wrap{
  width: 100%;
  position: relative;
}

.title_wrap .title_inner{
  width: 1200px;
  margin: 100px auto 80px;
}

.member .title_wrap .title_inner{
  margin: 100px auto 50px;
}

.title_wrap .title_inner h3{
  font:700 36px/36px 'NanumSquare';
	color:#2d2d2d;
	text-align: center;
	display: block;
	letter-spacing: -0.7px;
}

.list_wrap{
  width: 100%;
  position: relative;
}

.list_wrap .sorting_wrap{
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  top: -57px;
}

.list_wrap .sorting_wrap .btn_excel{
  width: 154px;
  height: 38px;
  border: 1px solid #3d7c25;
  font:400 15px/38px 'Montserrat','Noto Sans KR';
  color:#3d7c25;
  text-align: center;
  letter-spacing: -0.6px;
  display: inline-block;
}

.list_wrap .sorting_wrap .btn_excel:hover{
  background-color: rgba(61, 124, 37, 0.1);
}

.list_wrap .sorting_wrap .btn_excel p{
  display: inline-block;
  font:400 15px/38px 'Montserrat','Noto Sans KR';
  color:#3d7c25;
  text-align: center;
  letter-spacing: -0.6px;
}

.list_wrap .sorting_wrap .btn_excel .ico_excel{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../../images/common/sprite.png')no-repeat 0 -206px;
  vertical-align: top;
  margin-top: 11px;
}

.list_wrap .sorting_wrap .btn_excel p::before{
  content: '';
  width: 1px;
  height: 16px;
  background-color: rgba(61, 124, 37, 0.2);
  display: inline-block;
  margin: 11px 10px 0;
  vertical-align: top;
}

.list_wrap .sorting_wrap .small_select{
  width: 170px;
}

.list_wrap .sorting_wrap .list_count{
  float: right;
  font-size: 0;
}

.list_wrap .sorting_wrap .list_count .all{
  font:400 15px/38px 'Montserrat','Noto Sans KR';
  color:#222;
  text-align: left;
  letter-spacing: -0.6px;
  vertical-align: top;
  display: inline-block;
}

.list_wrap .sorting_wrap .list_count .all::after{
  content: '';
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: #ddd;
  vertical-align: top;
  margin: 13px 10px 0;
}

.list_wrap .sorting_wrap .list_count .page{
  font:400 15px/38px 'Montserrat','Noto Sans KR';
  color:#222;
  text-align: left;
  letter-spacing: -0.6px;
  vertical-align: top;
  display: inline-block;
}

.list_table_wrap{
  width: 100%;
  position: relative;
}

.list_table_wrap table{
  width: 1200px;
  margin: 0 auto;
  table-layout: fixed;
}

.list_table_wrap table td .name{
  font:500 15px/56px 'Montserrat','Noto Sans KR';
  color:#222;
  display: inline-block;
}

.list_table_wrap table td.red{
  font:400 16px/56px 'Montserrat','Noto Sans KR';
  color:#ed1c24;
}

.list_table_wrap02{
  width: 100%;
  position: relative;
}

.list_table_wrap02 table{
  width: 1200px;
  margin: 0 auto;
  table-layout: fixed;
}

.list_table_wrap02 table th{
  height: 68px;
  font: 500 16px/22px 'Montserrat','Noto Sans KR';
}

.list_table_wrap02 table td{
  height: 68px;
  font: 400 15px/22px 'Montserrat','Noto Sans KR';
  word-break: keep-all;
  white-space: normal;
  overflow: visible;
}

.two_tap_wrap{
  width: 100%;
  position: relative;
}

.two_tap_wrap ul{
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.two_tap_wrap ul li{
  width: 600px;
  height: 65px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.two_tap_wrap ul li a{
  font: 400 20px/65px 'NanumSquare';
  color:#666;
  text-align: center;
  display: block;
}

.two_tap_wrap ul li.on{
  background-color: #0b4fa1;
  border: 1px solid #0b4fa1;
}

.two_tap_wrap ul li.on a{
  font: 700 20px/65px 'NanumSquare';
  color:#fff;
}

.three_tap_wrap{
  width: 100%;
  position: relative;
}

.three_tap_wrap ul{
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.three_tap_wrap ul li{
  width: 400px;
  height: 65px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left:  1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.three_tap_wrap ul li:last-child{
  border-right:  1px solid #ddd;
}

.three_tap_wrap ul li a{
  font: 400 20px/65px 'NanumSquare';
  color:#666;
  text-align: center;
  display: block;
}

.three_tap_wrap ul li.on{
  background-color: #0b4fa1;
  border: 1px solid #0b4fa1;
}

.three_tap_wrap ul li.on a{
  font: 700 20px/65px 'NanumSquare';
  color:#fff;
}

.tap_cont_wrap{
  width: 100%;
  position: relative;
}

.tap_cont_inner{
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.tap_cont_inner .noti{
  font: 400 16px/16px 'Montserrat','Noto Sans KR';
  text-align: left;
  color:#666;
  margin: 40px 0 20px;
}

.tap_cont_inner .noti::before{
  content: '';
  width: 4px;
  height: 4px;
  background-color: #ed1c24;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  border-radius: 5px;
}

.tap_cont_inner .form_wrap{
  width: 1200px;
  height: 180px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  text-align: left;
  padding: 39px 0 39px 229px;
}

.tap_cont_inner .form_wrap .box{
  display: block;
  font-size: 0;
}

.tap_cont_inner .form_wrap .box:first-child{
  margin-bottom: 14px;
}

.tap_cont_inner .form_wrap .box label{
  font: 400 16px/44px 'Montserrat','Noto Sans KR';
  text-align: left;
  color:#222;
  width: 140px;
  display: inline-block;
}

.tap_cont_inner .form_wrap .box label::before{
  content: '';
  width: 4px;
  height: 4px;
  background-color: #ed1c24;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  border-radius: 5px;
  margin-top: 15px;
}

.tap_cont_inner .form_wrap .box input{
  width: 140px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font: 400 15px/44px 'Montserrat','Noto Sans KR';
  text-align: left;
  color:#666;
  padding-left: 14px;
}

.tap_cont_inner .form_wrap .box input:focus{
  outline: 1px solid #222;
}

.tap_cont_inner .form_wrap .box .hypen{
  width: 6px;
  height: 1px;
  background-color: #222;
  display: inline-block;
  vertical-align: top;
  margin: 22px 7px 0;
}

.tap_cont_inner .layout_box_wrap01{
  margin: 60px auto 120px;
}

.tap_cont_inner .layout_box_wrap01 .layout_box_inner{
  border-top: 1px solid #222;
  font-size: 0;
}

.tap_cont_inner .layout_box_wrap01 .title_box{
  display: inline-block;
  width: 220px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  vertical-align: top;
  height: 336px;
  position: relative;
}

.tap_cont_inner .layout_box_wrap01 .title_box.list2{
  height: 112px;
}

.tap_cont_inner .layout_box_wrap01 .title_box.list3{
  height: 168px;
}

.tap_cont_inner .layout_box_wrap01 .title_box.list5{
  height: 280px;
}

.tap_cont_inner .layout_box_wrap01 .title_box h5{
  font: 700 16px/24px 'Montserrat','Noto Sans KR';
  text-align: center;
  vertical-align: middle;
  color:#222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
}

.tap_cont_inner .layout_box_wrap01 .list_box{
  display: inline-block;
  width: 980px;
}

.tap_cont_inner .layout_box_wrap01 .list_box li{
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 56px;
  box-sizing: border-box;
  font-size: 0;
}

.tap_cont_inner .layout_box_wrap01 .list_box li:hover{
  background-color: #f8f8f8;
}

.tap_cont_inner .layout_box_wrap01 .list_box li p{
  font: 400 16px/56px 'Montserrat','Noto Sans KR';
  text-align: left;
  color:#222;
  padding-left: 20px;
  display: inline-block;
  width: 797px;
  box-sizing: border-box;
}

.tap_cont_inner .layout_box_wrap01 .list_box li a{
  width: 182px;
  height: 56px;
  display: inline-block;
  border-left: 1px solid #e5e5e5;
  text-align: center;
  font: 400 16px/56px 'Montserrat','Noto Sans KR';
  color:#222;
  box-sizing: border-box;
}

.tap_cont_inner .layout_box_wrap01 .list_box li a:hover{
  font: 500 16px/56px 'Montserrat','Noto Sans KR';
  color: #0b4fa1;
}

.tap_cont_inner .layout_box_wrap01 .list_box li a::after{
  content: '';
  width: 5px;
  height: 8px;
  background: url('../../images/common/sprite.png')no-repeat -25px -145px;
  display: inline-block;
  vertical-align: top;
  margin-top: 23px;
  margin-left: 14px;
}

.tap_cont_inner .layout_box_wrap01 .list_box li a:hover::after{
  background: url('../../images/common/sprite.png')no-repeat -32px -145px;
}

.desc_wrap{
  position: relative;
}

.desc_wrap .desc_title{
  display: inline-block;
}


/*****
*
* sub05
*
*****/
div[class*='_inner']{
  width: 1200px;
  margin: 0 auto;
}
.sr-only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* 협회회원사 > 인사말 */
.greeting_visual_wrap {
  position: relative;
  height: 540px;
}

.greeting_visual_wrap>img {
  display: block;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
  z-index: 1;
}

.greeting_visual_wrap .greeting_inner {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -600px;
  z-index: 1;
}

.greeting_visual_wrap .greeting_inner>* {
  font-family: 'Montserrat', 'Noto Sans KR';
  color: #222222;
}

.greeting_visual_wrap .greeting_inner h3 {
  font-size: 46px;
  line-height: 46px;
}

.greeting_visual_wrap .greeting_inner h4 {
  padding: 50px 0 45px;
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -1px;
}

.greeting_visual_wrap .greeting_inner h5 {
  font-weight: 400;
  font-size: 15px;
}

.greeting_visual_wrap .greeting_inner span {
  display: block;
  padding-top: 15px;
}

.greeting_text_wrap {
  background: #f8f8f8;
}

.greeting_text_wrap .greeting_inner {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}

.greeting_text_wrap .greeting_inner p.greeting_title {
  font: 500 24px/24px 'NanumSquare';
  color: #0c4da2;
}

.greeting_text_wrap .greeting_inner p.greeting_desc {
  padding: 30px 0 45px;
  font: 400 16px/24px 'Noto Sans KR';
  color: #444444;
}

.greeting_text_wrap .greeting_inner p:last-child {
  padding-bottom: 0;
}
/* 협회회원사 > 인사말 END */


/* 협회회원사 > 협회개요 > 연혁 */
.banner_wrap {
  margin-top: 80px;
}

.banner_wrap .banner_inner {
  width: 1200px;
  margin: 0 auto;
}
.banner_wrap .banner_inner h4{
  font: 600 28px/28px 'NanumSquare';
  color: #222222;
  padding-bottom: 15px;
}

.banner_wrap .banner_inner img {
  display: block;
  width: 100%;
}

.establishment_wrap{
  margin-top: 32px;
}
.establishment_wrap .establishment_inner {
  width: 1200px;
  margin: 0 auto;
}
.establishment_wrap .establishment_inner {
  
}
.establishment_wrap .establishment_inner li {
  float: left;
  width: 586px;
}
.establishment_wrap .establishment_inner li:first-child {
  margin-right: 28px;
}
.establishment_wrap .establishment_inner li h4 {
  font: 500 24px/24px 'NanumSquare';
  color: #222222;
}
.establishment_wrap .establishment_inner li > div{
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 140px;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.establishment_wrap .establishment_inner li > div > *{
  position: absolute;
}
.establishment_wrap .establishment_inner li > div > img{
  top: 25px;
  left: 60px;
}
.establishment_wrap .establishment_inner li > div > p{
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  font: 400 16px/24px 'Noto Sans KR';
  color: #555555;
}

.content_title_wrap {
  margin-top: 75px;
}
.content_title_wrap .content_title_inner {
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #666666;
}
.content_title_wrap .content_title_inner h4{
  padding-bottom: 15px;
  font: 600 28px/28px 'NanumSquare';
  color: #222222;
}

.history_wrap {}
.history_wrap .history_inner {}
.history_wrap .history_inner .history_section {
  padding: 45px 0 40px;
  border-bottom: 2px dotted #ccc;
}
.history_wrap .history_inner .history_section.last {
  border: 0 none;
}
.history_wrap .history_inner .history_section .sect_left {
  float: left;
  width: 280px;
  font: 600 40px/40px 'Montserrat', 'Noto Sans KR';
  color: #222222;
}
.history_wrap .history_inner .history_section .sect_left span{
  font-weight: normal;
}
.history_wrap .history_inner .history_section .sect_right {
  position: relative;
  float: left;
}
.history_wrap .history_inner .history_section .sect_right::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: auto;
  position: absolute;
  top: 70px;
  left: 149px;
  background: #ccc;
  z-index: -1; 
}
.history_wrap .history_inner .history_section.sect3 .sect_right::before{height: 110px}
.history_wrap .history_inner .history_section.sect2 .sect_right::before{height: 820px}
.history_wrap .history_inner .history_section.sect1 .sect_right::before{height: 940px}

.history_wrap .history_inner .history_section .sect_right .year_modules {
  padding-bottom: 15px;
}
.history_wrap .history_inner .history_section .sect_right .year_modules.last {
  padding: 0;
}
.history_wrap .history_inner .history_section .sect_right .year_modules h5 {
  display: block;
  padding-bottom: 20px;
  font: 600 28px/38px 'Montserrat';
  color: #222222;
}
.history_wrap .history_inner .history_section .sect_right .year_modules ul {}
.history_wrap .history_inner .history_section .sect_right .year_modules ul li {
  overflow: hidden;
  padding-bottom: 15px;
}
.history_wrap .history_inner .history_section .sect_right .year_modules ul li > * {
  display: inline-block;
  float: left;
}
.history_wrap .history_inner .history_section .sect_right .year_modules ul li p.date {
  width: 100px;
  font: 600 16px 'Montserrat', 'Noto Sans KR';
  color: #222222;
}
.history_wrap .history_inner .history_section .sect_right .year_modules ul li p.desc {
  font-family: 'Montserrat','Noto Sans KR';
  color: #555555;
}
.history_wrap .history_inner .history_section .sect_right .year_modules ul li span {
  width: 100px;
  text-align: center;
}
/* 협회회원사 > 협회개요 > 연혁 END */

/* 협회회원사 > 협회개요 > 미션 및 비전 */
.vision_wrap{}
.vision_wrap .vision_inner{
  padding: 50px 0 70px;
}
.vision_wrap .vision_inner p{
  font: 600 24px/24px 'NanumSquare';
  color: #222222;
}
.vision_wrap .vision_inner h5{
  padding-top: 20px;
  font: 600 44px/44px 'NanumSquare';
  color: #222222
}
.strategy_wrap{
  background:#f1f5f8;
}
.strategy_inner{
  padding: 65px 0 50px;
}
.strategy_wrap .strategy_purpose{}
.strategy_wrap .strategy_purpose h4{
  font: 600 28px/28px 'NanumSquare';
  color: #222222;
}
.strategy_wrap .strategy_purpose ul{
  margin-top: 40px;
}
.strategy_wrap .strategy_purpose ul li{
  float: left;
}
.strategy_wrap .strategy_purpose ul li img{
  display: block;
}
.strategy_wrap .strategy_problem {
  margin-top: 80px;
}
.strategy_wrap .strategy_problem > div{
  float: left;
}
.strategy_wrap .strategy_problem div.strategy_problem_img{
  width: 412px;
}
.strategy_wrap .strategy_problem div.strategy_problem_img img{
  display: block;
}
.strategy_wrap .strategy_problem div.strategy_problem_info{
  margin-left: 100px;
  width: 670px;
}
.strategy_wrap .strategy_problem div.strategy_problem_info h4{
  font: 600 28px/28px 'NanumSquare';
  color: #222222;
}
.strategy_wrap .strategy_problem div.strategy_problem_info ul{
  margin-top: 15px;
  border-top: 1px solid #666666;
}
.strategy_wrap .strategy_problem div.strategy_problem_info ul li{
  display: block;
  border-bottom: 1px dashed #c4c4c4;
}
.strategy_wrap .strategy_problem div.strategy_problem_info ul li:last-child{
  border: 0 none;
}
.strategy_wrap .strategy_problem div.strategy_problem_info ul li p{
  font: 400 16px 'Montserrat','Noto Sans KR';
  color: #444444;
  line-height: 100px;
}
.strategy_wrap .strategy_problem div.strategy_problem_info ul li p strong{
  display: inline-block;
  width: 75px;
  font: 600 18px 'NanumSquare';
  color: #222222;
}
/* 협회회원사 > 협회개요 > 미션 및 비전 END */

/* 협회회원사 > 협회개요 > CI소개 */
.ci_info_wrap{}
.ci_info_wrap .ci_info_inner{
  padding-top: 50px;
}
.ci_info_wrap p{
  font: 400 16px/28px 'Montserrat','Noto Sans KR';
  color: #555555;
}
.ci_info_wrap img{
  margin-top: 35px;
  display: block;
}
.ci_signature_wrap{
  margin-top: 75px;
}
.ci_signature_wrap .ci_signature_inner{}
.ci_signature_wrap .ci_signature_desc{}
.ci_signature_wrap .ci_signature_desc h4{
  font: 600 24px/24px 'Montserrat','Noto Sans KR';
  color: #222222;
}
.ci_signature_wrap .ci_signature_desc p{
  padding: 25px 0 35px;
  font: 400 16px/28px 'Montserrat','Noto Sans KR';
  color: #555555;
}
.ci_signature_wrap .ci_signature_img{}
.ci_signature_wrap .ci_signature_img ul{
  float: left;
  margin-right: 28px;
}
.ci_signature_wrap .ci_signature_img ul:last-child{
  margin-right: 0;
}
.ci_signature_wrap .ci_signature_img ul li{
  display: block;
  margin-bottom: 28px;
}
.ci_signature_wrap .ci_signature_img ul li img{
  display: block;
}
/* 협회회원사 > 협회개요 > CI소개 END */

/* 협회회원사 > 정관 및 규정 */
.aoa_wrap{
  margin-top: 10px;
}
.aoa_wrap .aoa_article {
  padding: 40px 0;
  border-bottom: 1px dashed #c2c2c2;
}
.aoa_wrap .aoa_article:last-child {
  border: 0 none;
  padding-bottom: 0;
}
.aoa_wrap .aoa_article > *{
  float: left;
}
.aoa_wrap .aoa_article h5{
  position: relative;
  padding-left: 16px;
  display: inline-block;
  width: 270px;
  font: 600 24px/36px 'NanumSquare';
  color: #0c4fa0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.aoa_wrap .aoa_article h5::before{
  content:'';
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 0;
  width: 9px;
  height: 9px;
  background: url('../../images/sub05/bullet_blue.png') center center no-repeat;
}
.aoa_wrap .aoa_article ul {
  width: 930px;
}
.aoa_wrap .aoa_article ul.nodesc li{
  padding-bottom: 10px;
}
.aoa_wrap .aoa_article ul.nodesc li:last-child {
  padding-bottom: 0;
}
.aoa_wrap .aoa_article ul.additionalrules li{
  padding-left: 16px;
  padding-bottom: 20px;
}
.aoa_wrap .aoa_article ul.additionalrules li:last-child {
  padding-bottom: 0;
}
.aoa_wrap .aoa_article ul li{}
.aoa_wrap .aoa_article ul li p{
  position: relative;
  font: 400 16px/26px 'Noto Sans KR';
  color: #555555;
  letter-spacing: -1px;
}
.aoa_wrap .aoa_article ul li p span{
  display: inline-block;
  width: 16px;
  height: 1px;
}
.aoa_wrap .aoa_article ul li p.bul {
  padding-left: 14px;
}
.aoa_wrap .aoa_article ul li p.bul::before{
  content:'';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 3px;
  height: 3px;
  background: url('../../images/sub05/bullet_gray.png') center center no-repeat;
}
.aoa_wrap .aoa_article ul li p.title {
  font-weight: 500;
  color: #222222;
}
.aoa_wrap .aoa_article ul li p.desc {
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 25px;
}
.aoa_wrap .aoa_article ul li p.last {
  padding-bottom: 0;
}
.aoa_wrap .aoa_article.tableform {}
.aoa_wrap .aoa_article.tableform h5 {
  width: 100%;
}
.aoa_wrap .aoa_article.tableform h5 span{
  font: 400 16px/36px 'Noto Sans KR';
  color: #555555;
  float: right;
}
.aoa_wrap .aoa_article.tableform .data_table_wrap {
  margin-top: 20px;
}
.aoa_wrap .aoa_article.tableform table{
  width: 100%;
}
.aoa_wrap .aoa_article.tableform table th.twolines {
  line-height: inherit;
}
.aoa_wrap .aoa_article.tableform table td span.tdmark {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  text-indent: -9999px;
}
.aoa_wrap .aoa_article.tableform table td span.tdmark.mark_01 {background: url('../../images/sub05/mark_01.jpg') no-repeat;}
.aoa_wrap .aoa_article.tableform table td span.tdmark.mark_02 {background: url('../../images/sub05/mark_02.jpg') no-repeat;}
.aoa_wrap .aoa_article.tableform table td span.tdmark.mark_03 {background: url('../../images/sub05/mark_03.jpg') no-repeat;}
.aoa_wrap .aoa_article .aoa_table_notice{
  margin-top: 30px;
  padding: 25px 20px;
  width: 100%;
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.aoa_wrap .aoa_article .aoa_table_notice ul{}
.aoa_wrap .aoa_article .aoa_table_notice ul li{
  display: block;
}
.aoa_wrap .aoa_article .aoa_table_notice ul li p{
  padding-left: 20px;
  font: 400 15px/30px 'Noto Sans KR';
  color: #555555;
  letter-spacing: 0;
}
.aoa_wrap .aoa_article .aoa_table_notice ul li p:before{
  content:'';
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 3px;
  height: 3px;
  background: url('../../images/sub05/bullet_orange.png') center center no-repeat;
}
/* 협회회원사 > 정관 및 규정 */

/* 협회회원사 > 조직 및 부서별 현황 organization*/
.list_asso_inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.list_asso_inner .org_wrap {
  overflow: hidden;
  padding-bottom: 40%;
}

.org_area {
  width: 281px;
  border-radius: 10px;
  height: 74px;
  line-height: 74px;
  margin: 0 auto 40px auto;
}

.org1 {
  background: #36649c;
  position: relative;
}

.org1:before {
  position: absolute;
  left: 50%;
  top: 68px;
  content: '';
  display: block;
  width: 12px;
  height: 11px;
  /* background:#7fa5d3; */
  background: url('../../images/sub05/org_before01.png')no-repeat;
  margin-left: -6px;
  /* transform:rotate(45deg); */
  z-index: 5;
}

.org1:after {
  position: absolute;
  left: 50%;
  bottom: -40px;
  content: '';
  display: block;
  width: 1px;
  height: 35px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org2 {
  background: #565c8c;
  position: relative;
}

.org2:before {
  position: absolute;
  left: 50%;
  top: 68px;
  content: '';
  display: block;
  width: 12px;
  height: 11px;
  /* background:#8e93ba; */
  background: url('../../images/sub05/org_before02.png')no-repeat;
  margin-left: -6px;
  /* transform:rotate(45deg); */
  z-index: 5;
}

.org2:after {
  position: absolute;
  left: 50%;
  bottom: -40px;
  content: '';
  display: block;
  width: 1px;
  height: 35px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org_area a {
  display: block;
  text-align: center;
  font: 600 20px/74px 'NanumSquare';
  color: #fff;
}

.org_area .org_bar {
  position: relative;
}

.org_area .org_bar:before {
  position: absolute;
  left: -325px;
  bottom: -41px;
  content: '';
  display: block;
  width: 588px;
  height: 1px;
  background: #c0c0c0;
  z-index: -1;
}

.org_area .org_bar:after {
  position: absolute;
  left: 280px;
  bottom: 38px;
  content: '';
  display: block;
  width: 277px;
  height: 1px;
  background: #c0c0c0;
  z-index: -1;
}

.org_area2 {
  background: #64b848;
  height: 64px;
  width: 270px;
  line-height: 64px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 18px;
  position: relative;
  margin-top: 36px;
  vertical-align: top;
}

.org_area2:before {
  position: absolute;
  left: 50%;
  top: 58px;
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  /* background:#a2d491; */
  background: url('../../images/sub05/org_before03.png')no-repeat;
  margin-left: -5.5px;
  /* transform:rotate(45deg); */
  z-index: 5;
}

.org_area2:after {
  position: absolute;
  left: 50%;
  bottom: -40px;
  content: '';
  display: block;
  width: 1px;
  height: 35px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org_area2_none {
  background: none;
}

.org_area2_none:before {
  display: none;
}

.org_area2_none:after {
  display: none;
}

.org_area2 a {
  display: block;
  text-align: center;
  font: 600 20px/64px 'NanumSquare';
  color: #fff;
  margin-bottom: 40px;
  position: relative;
}

.org_area2>a:before {
  position: absolute;
  left: 50%;
  top: -35px;
  content: '';
  display: block;
  width: 1px;
  height: 35px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org_area3 {
  background: #f2f2f2;
  height: 64px;
  width: 270px;
  line-height: 64px;
  border-radius: 10px;
  border: 1px solid #999999;
  margin-bottom: 10px;
}

.org_area3 a {
  display: block;
  text-align: center;
  font: 400 18px/64px 'NanumSquare';
  color: #555555;
}

.org_area4 {
  height: 138px;
}

.org_area4 p {
  background: #999999;
  border-radius: 10px;
  width: 237px;
  margin: 0 auto;
  font: 400 18px/60px 'NanumSquare';
  color: #fff;
}

.org_area5 {
  margin-top: 105px;
  position: relative;
}

.org_area5:before {
  position: absolute;
  left: 50%;
  top: -220px;
  content: '';
  display: block;
  width: 1px;
  height: 230px;
  background: #c0c0c0;
  z-index: -1;
  margin-left: -0.5px;
}

.org_area6 {
  background: #f08500;
  height: 64px;
  width: 271px;
  line-height: 64px;
  border-radius: 10px;
  /* border:1px solid #999999; */
  margin-bottom: 10px;
  position: absolute;
  right: 48px;
  top: 90px;
}

.org_area6:before {
  position: absolute;
  right: -5px;
  top: 26px;
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  /* background:#ffb457; */
  background: url('../../images/sub05/org_before04.png')no-repeat;
  margin-left: -5.5px;
  /* transform:rotate(45deg); */
  z-index: 5;
}

.org_area6:after {
  position: absolute;
  right: -50px;
  top: 32px;
  content: '';
  display: block;
  width: 45px;
  height: 1px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org_area6 a {
  display: block;
  text-align: center;
  font: 600 20px/64px 'NanumSquare';
  color: #fff;
  position: relative;
}

.org_area6 a:before {
  position: absolute;
  right: -51px;
  top: 32px;
  content: '';
  display: block;
  width: 1px;
  height: 584px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org_area3 .org_bar2 {
  position: relative;
}

.org_area3 .org_bar2:before {
  position: absolute;
  right: -51px;
  top: 32px;
  content: '';
  display: block;
  width: 51px;
  height: 1px;
  background: #c0c0c0;
  margin-left: -0.5px;
  z-index: -1;
}

.org_all_popup {
  position: absolute;
  left: 680px;
  top: 228px;
  display: none;
  z-index: 7;
}

.org_popup2 {
  position: absolute;
  top: 342px;
}

.org_popup3 {
  position: absolute;
  left: 0;
  top: 549px;
}

.org_popup4 {
  position: absolute;
  left: 293px;
  top: 549px;
}

.org_popup5 {
  position: absolute;
  left: 586px;
  top: 549px;
}

.org_all_popup .org_boxlayer {
  /* width:490px;  */
  width: 100%;
  height: 305px;
  border: 5px solid #565c8c;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}

.org_all_popup .org_boxlayer2 {
  /* width:505px;  */
  width: 100%;
  height: 305px;
  border: 5px solid #64b848;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_le {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_le>img {
  border: 1px solid #c0c0c0;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_le h5 {
  text-align: center;
  font: 400 18px/25px 'NanumSquare';
  margin-top: 8px;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_le h5>span {
  font: 600 18px/25px 'NanumSquare';
}

.org_all_popup .org_boxlayer .org_txt .org_txt_ra {
  display: inline-block;
  vertical-align: top;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_ra p {
  font: 300 16px/24px 'Noto Sans KR';
  color: #555;
  margin-left: 20px;
  letter-spacing: normal;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_ra p>span {
  font: 500 16px/24px 'Noto Sans KR';
  color: #222222;
  display: block;
  position: relative;
}

.org_all_popup .org_boxlayer .org_txt .org_txt_ra p>span:before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  top: 9px;
  /* background:#565c8c; */
  background: url('../../images/sub05/org_before05.png')no-repeat;
  width: 9px;
  height: 9px;
  /* transform:rotate(45deg); */
}

.org_all_popup .org_boxlayer2 .org_txt .org_txt_ra p>span:before {
  background: url('../../images/sub05/org_before06.png')no-repeat;
}

.org_table_wrap {}

.table_list .all_ta {
  display: none;
}

.table_list .all_ta.on {
  display: block;
}

.table_list .ta9 {
  padding-bottom: 30px;
}

/* 협회회원사 > 이사회현황 executives */
.table_foot {
  padding-top: 30px;
}

.table_foot .box {
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
}

.table_foot .box p {
  padding: 20px 0 20px 40px;
  position: relative;
  color: #555555;
  font: 400 15px/30px 'Montserrat', 'Noto Sans KR';
}

.table_foot .box p:before {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 34px;
  width: 3px;
  height: 3px;
  background: #f38411;
}

/* 협회회원사 > 오시는길 location */

.location_list {
  position: relative;
}

.location_list ul {
  border-top: 1px solid #666666;
}

.location_list ul li {
  display: block;
  border-bottom: 1px dashed #999999;
}

.location_list ul li:last-child {
  border-bottom: 0;
}

.location_list ul li h3 {
  padding: 15px 0;
  font: 500 16px/30px 'Montserrat', 'Noto Sans KR';
  color: #222;
  margin-left: 20px;
  position: relative;
}

.location_list ul li h3:before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  top: 25px;
  background: #0b4fa1;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
}

.location_list ul li h3 span {
  font: 400 16px/30px 'Montserrat', 'Noto Sans KR';
  color: #444444;
  margin-left: 30px;
}

.location_map {
  position: relative;
  padding: 20px 0 0;
}

.location_map .location_map_wrap {
  width: 1200px;
  height: 480px;
  border: 1px solid #dddddd;
  width: 100%;
}

.location_map .location_map_wrap iframe {
  width: 100%;
  height: 480px;
}

/* 회원사 안내 공통 테이블 시작 */

#contents .sub_title {
  position: relative;
  float: left;
  font: 700 24px/24px 'NanumSquare';
  color: #0c4fa0;
  padding-left: 16px;
  background: url('../../images/sub05/bullet.jpg') no-repeat 0 7px;
}

#contents .check_circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  text-indent: -3000px;
}

#contents .no_circle {
  display: inline-block;
  text-indent: -3000px;
}

#contents .member_company_table .sorting_wrap {
  position: relative;
  padding: 50px 0 10px;
  top: initial;
}

#contents .member_company_table table th,
#contents .member_company_table table td {
  overflow: hidden;
  line-height: 20px;
  white-space: initial;
}

#contents .member_company_table table td {
  padding: 0;
}

#contents .member_company_table table td.address {
  text-align: left;
  padding-left: 20px;
}

#contents .member_company_table table td.align_L.bold {
  height: auto;
  padding: 0;
  padding: 10px 20px;
}

#contents .member_company_table table {
  margin-bottom: 120px;
}

#contents .member_company_table .refer {
  position: relative;
  top: -60px;
  width: 1200px;
  margin: 0 auto 20px;
}

#contents .member_company_table .refer div {
  font-size: 16px;
  line-height: 50px;
}

/* 회원사 안내 공통 테이블 끝 */

/* 회원가입 안내 시작 */
#contents .membership_register {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#contents .membership_register .sub_title {
  line-height: 32px;
}

#contents .membership_register .membership_register_wrap .informations {
  padding: 40px 0;
  border-top: 1px solid #000;
}

#contents .membership_register .membership_register_wrap .informations:nth-child(2) {
  border-top: 2px dotted #d1d1d1;
}

#contents .membership_register .membership_register_wrap .informations .informations_head {
  vertical-align: top;
  position: absolute;
  left: 0;
}

#contents .membership_register .membership_register_wrap .informations ul {
  position: relative;
  left: 285px;
}

#contents .membership_register .membership_register_wrap .informations ul li {
  position: relative;
  font: 400 16px/30px 'Noto Sans KR';
  color: #000;
  padding-left: 15px;
}

#contents .membership_register .membership_register_wrap .informations ul li::before {
  display: block;
  content: '';
  clear: both;
  position: absolute;
  top: 15px;
  left: 0px;
  width: 3px;
  height: 3px;
  background: #555;
  border-radius: 50%;
}

#contents .membership_register .membership_register_wrap .metaphor {
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 35px;
  margin-bottom: 30px;
}

#contents .membership_register .membership_register_wrap .metaphor:last-child {
  margin: 0;
}

#contents .membership_register .membership_register_wrap .metaphor .metaphor_head {
  position: relative;
  left: 25px;
}

#contents .membership_register .membership_register_wrap .metaphor .metaphor_head .sub_title_notice {
  position: relative;
  right: 40px;
  float: right;
  font: 500 15px/15px 'Noto Sans KR';
  color: #555;
}

#contents .membership_register .membership_register_wrap .metaphor ul {
  text-align: center;
  margin-top: 40px;
}

#contents .membership_register .membership_register_wrap .metaphor ul li {
  display: inline-block;
  position: relative;
  width: 130px;
  text-align: center;
  margin-right: 130px;
  font: 700 17.9px/17.9px 'NanumSquare';
  color: #000;
  white-space: nowrap;
}

#contents .membership_register .membership_register_wrap .metaphor ul li:last-child {
  margin: 0;
}

#contents .membership_register .membership_register_wrap .metaphor ul li img {
  display: block;
  margin-bottom: 45px;
}

#contents .membership_register .membership_register_wrap .metaphor ul li .numbering {
  position: absolute;
  top: 0px;
  left: -30px;
}

#contents .membership_register .membership_register_wrap .metaphor .lines {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 1150px;
  height: 1px;
  background: #ddd;
}

#contents .membership_register .membership_register_wrap .metaphor .lines img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contents .membership_register .membership_register_wrap .btn_wrap .btn_inner a {
  background: #222;
  width: 230px;
}

#contents .membership_register .membership_register_wrap .common_note {
  margin-bottom: 40px;
}

/* 회원가입 안내 끝 */

/*****
*
* sub05 END
*
*****/